<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.42.1/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <h1 class="text-4xl text-white text-center">Admin Dashboard!...</h1>

    <div>
        <div class="container mx-auto">
            <div class="flex flex-wrap -mx-4">
                <div class="w-full sm:w-1/2 md:w-1/2 xl:w-1/4 p-4">
                    <a href="" class="c-card block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden">
                        <div class="p-4">
                            <h2 class="mt-2 mb-2  font-bold">Purus Ullamcorper Inceptos Nibh</h2>
                            <p class="text-sm">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
                                ullamcorper nulla non metus auctor fringilla.</p>
                        </div>
                    </a>
                </div>


                <div class="w-full sm:w-1/2 md:w-1/2 xl:w-1/4 p-4">
                    <a href="" class="c-card block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden">
                        <div class="p-4">
                            <h2 class="mt-2 mb-2  font-bold">Purus Ullamcorper Inceptos Nibh</h2>
                            <p class="text-sm">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
                                ullamcorper nulla non metus auctor fringilla.</p>
                        </div>
                    </a>
                </div>

                <div class="w-full sm:w-1/2 md:w-1/2 xl:w-1/4 p-4">
                    <a href="" class="c-card block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden">
                        <div class="p-4">
                            <h2 class="mt-2 mb-2  font-bold">Purus Ullamcorper Inceptos Nibh</h2>
                            <p class="text-sm">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
                                ullamcorper nulla non metus auctor fringilla.</p>
                        </div>
                    </a>
                </div>

                <div class="w-full sm:w-1/2 md:w-1/2 xl:w-1/4 p-4">
                    <a href="" class="c-card block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden">
                        <div class="p-4">
                            <h2 class="mt-2 mb-2  font-bold">Purus Ullamcorper Inceptos Nibh</h2>
                            <p class="text-sm">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
                                ullamcorper nulla non metus auctor fringilla.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>