<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.42.1/dist/full.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- ====== javaScript====== -->
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- ====== javaScript End====== -->

<div class="navbar bg-indigo-600 flex justify-between">
  <div>
    <h1 class="text-white text-3xl">giveMe</h1>
  </div>
  <div>
    <a href="{{ url_for('upload') }}" class="btn btn-sky-500 text-white">Upload Your Pic</a>
  </div>
</div>
<br>

 <div class="text-center">
  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/180/180/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/181/181/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/182/182/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/183/183/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/184/184/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/185/185/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/186/186/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/187/187/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/188/188/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/189/189/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/190/190/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/192/192/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/192/192/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/192/192/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/193/193/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/190/190/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/191/191/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/191/191/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/191/191/people" />
    </div>
  </div>

  <div class="avatar">
    <div class="w-32 rounded">
      <img src="https://placeimg.com/191/191/people" />
    </div>
  </div>

 </div> 

</body>
</html>