<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.42.1/dist/full.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- ====== javaScript====== -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
  <!-- preloader script -->
 <script>
   $(window).on('load', function() {
    $(".loader").fadeOut(3000);
  })
 </script>
  <!-- ====== javaScript End====== -->

  <!-- loader starts -->
  <div class="loader h-screen flex justify-center items-center">
    <i class="fa-sharp fa-solid fa-fan text-8xl animate-spin text-indigo-600"></i>
  </div>

  <!-- loader ends -->

  
  <div class="navbar bg-indigo-600 flex justify-between">
    <div>
      <h1 class="text-white text-3xl">giveMe</h1>
    </div>
    <div>
      <a href="{{ url_for('upload') }}" class="btn btn-sky-500 text-white">Upload Your Pic</a>
    </div>
  </div>
  <br>

  <div class="text-center ">
   <div class="grid grid-cols-5 gap-5">
    {% for name in image_name %}
    <div class="relative group">
      <img class="min-h-fit" src='{{ url_for("static",filename=name) }}' />
      <div class="opacity-0 group-hover:opacity-100 duration-300 absolute left-0 bottom-0 right-0 z-10 flex justify-center items-end text-xl bg-gray-200 text-black font-semibold">{{ name[:-4]}}</div>
    </div>
    {% endfor %}
  </div>
   </div>

</body>

</html>